*{
  Margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
}

.img-heading {
  width: 100%;
}

body {
    background-color: black;
  }

.img-title {
  width: 100%;
  max-width: 1400px;
  padding:50px 50px 10px;
  position: absolute;
  left: 50%; 
  transform: translate(-50%, 5%);
}

* { margin: 0; padding: 0; }
#page{display:table;overflow:hidden;margin:0px auto;}
*:first-child+html #page {position:relative;}/*ie7*/
* html #page{position:relative;}/*ie6*/

#content_container{display:table-cell;vertical-align: middle;}
*:first-child+html #content_container{position:absolute;top:50%;}/*ie7*/
* html #content_container{position:absolute;top:50%;}/*ie6*/

html,body{height:0%;}

#content { 
  padding:30px 30px 20px;
  font-family: arial;
  font-size: 50px;
  color: white;
  line-height: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -0%);
}