* {
  Margin: 0;
  Padding: 0;
}

body {
    background-color: black;
    Margin: 0;
    Padding: 0;
  }

  .title{
    font-family: Archivo;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    position: top;
    text-align: center;
    letter-spacing: 4px
  }

  .social-links{
    font-family: Archivo;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    padding-bottom: 10px;
    position: top;
    text-align: center;
    letter-spacing: 4px
  }

  .links{
    font-family: Archivo;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 10px;
    position: top;
    text-align: center;
    letter-spacing: 4px
  }
  .img-title {
    width: 80%;
    max-width: 1200px;
    position: center;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-link {
    transition: 0.3s ease;
    background: #000000;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    padding: 10px 0;
    margin: 0 20px;
}

.nav-link:hover {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  padding: 10px 0; 
}

  @media only screen and (min-width: 768px) { 
  nav{
    flex-direction: row;
  }
}